# HTTP/HTTPS Config
HTTP_OR_HTTPS="http"
IP_ADDR=127.0.0.1

# HTTP Config
HTTP_PORT=3000
REDIRECT_TO_HTTPS=false

# HTTPS Config
HTTPS_PORT=443
HTTPS_CERT_PATH=./cert.pem
HTTPS_KEY_PATH=./key.pem

# Frontend Config
EXPRESS_PORT=3001
REACT_APP_RECAPTCHA_SITE_KEY=your_site_key_here

# Database Config
DATABASE_URL=mysql://root:root@localhost/devdb
MYSQL_ROOT_PASSWORD=your_password_here

# Marzban Panel Config (excluding the trailing slash)
MARZBAN_PANEL_URL=https://your.panel.address.here
MARZBAN_PANEL_USERNAME=your_username_here
MARZBAN_PANEL_PASSWORD=your_password_here

# Stripe Config
STRIPE_SECRET_KEY=your_secret_key_here
STRIPE_WEBHOOK_SECRET=your_webhook_secret_here

# Announcements and Documentation Config
ANNOUNCEMENTS_DIR=./announcements
DOCUMENTATION_DIR=./docs